{% extends 'base.html' %}

<!--<!DOCTYPE html>-->

{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleContact.css" />
    <title>Document</title>
</head>
<body>



    <div class="contactDiv">
    <div class="contactInfo">
        <div class="contactText">
            <p>+38(096) 496 88 77 Евгений</p></br>
            <p>+38(063) 280 90 17 Катерина</p></br>
            <p>duetflatwhite@gmail.com</p></br>
             <div class="footerMain1">
            <a href="https://www.instagram.com/duet.flatwhite/?igshid=1obeqmv8ocnar" class="socialIcon"><img src="../static/img/Icons/instagramIcon.png"/></a>
            <a href="https://www.youtube.com/channel/UCw47TmltEDl6vBdgt1gb-lg" class="socialIcon"><img src="../static/img/Icons/youtubeIcon.png"/></a>
            <a href="https://www.facebook.com/shvedakmusic/" class="socialIcon"><img src="../static/img/Icons/facebookIcon.png"/></a>
        </div>
        </div>
        <div class="contactImg">
            <img src="../static/img/contactPhoto/contact.jpg" alt=""/>
        </div>
    </div>

    </div>
</body>
{% endblock %}
<!--</html>-->