{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/onas.css' %}" />
    <title>Document</title>
</head>
<body>
    <div class="AllIn">
        <section class="FlatPhoto">
            <div class="details">
                <img src="../static/img/ONasImg/ONas.jpg" alt=""/>
                <div class="headline">
                <p class="">Приветствуем вас! Мы - Вокальный дуэт FlatWhite, в составе которого Евгений Шведак и Катерина Гончарова: профессиональные вокалисты, участники многочисленных фестивалей, конкурсов и телепроектов, таких как Шанс, Шоу №1, Х-фактор, Голос Країни! Наш трек-лист включает в себя более 200 хитовых композиций: это топовые мировые хиты, украинская музыка, дискотека 80-90-х, формат лаунж. Мы постоянно работаем над собой, обновляя репертуар, следя за музыкальными новинками и тенденциями. Индивидуальный подход к каждому мероприятию и любовь к своему делу – для нас всегда на первом месте! С нами атмосферно, весело и стильно. Мы гарантируем высокое качество своей работы и достойное сотрудничество!</p>
                </div>
            </div>
        </section>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
    <script src="../static/js/appOnas.js"></script>
</body>
{% endblock %}
